body{
background-color: #363636;
text-align: center;
h1{
    background-color: #363636;
    
    color: rgb(255, 255, 255);

}
}


header{
    height: 50px;
width: 100%;
position: fixed;

}

.navbar {
    background-color: #363636 !important;
 
    justify-content: space-around ;
        
    position: fixed ;
    height: 48px;
    
    display: flex;
top: 0;
}

.navbar-brand, .nav-link {
   
   
    color: white ;
}

.content-section {
    max-width: 900px;
    position: fixed;
top: 0;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}


#obras{

color: aliceblue;
background-color: #363636;

display: flex;


}


.mangás{
height:auto;
width: auto;
background-color: rgb(50, 29, 210)  ;

border-radius: 20px;
display: flex;




padding: 30px;
text-align: center;

margin: 29px;




}



.container-com-scroll {
    height: 100%;
    width: 100%; 
    overflow: auto;
display: flex;



}

  
#box{

    color: aliceblue;
    background-color: #363636;
    
    display: flex;
    


}

footer{

text-align: center;
    background-color: #363636;

}


.banner{

top: 10px;


}
