body{
background-color: black;
color: rgb(0, 0, 0);
text-align: center;

}

.banner {

    width: 100%;
top:0;

    height: auto; 
    display: block; 
    object-fit: cover; 

    margin: 0;
    padding: 0;
    overflow: hidden;
left:0;

}











.navbar {
    background-color: #18207e !important;


}

.navbar-brand, .nav-link {
    color: white !important;
}

.content-section {
    max-width: 900px;
    
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}
