body{
background-color: black;
color: aliceblue;
text-align: center;

}

.banner {

    width: 100%;
top:0;

    height: auto; 
    display: block; 
    object-fit: cover; 

    margin: 0;
    padding: 0;
    overflow: hidden;
left:0;

}


